In [205]:
# imports library 

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

# Coal consumtion in Exajoules

In [206]:
file_path ='../World_energy_consumption/Raw_data_files/Coal_consumtion_Exajoules.csv'
df_1= pd.read_csv(file_path, skiprows=2, encoding='unicode_escape')
df_1.head()

,Exajoules,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,2022.1,2012-22,2022.2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,0.65,0.64,0.63,0.68,0.66,0.71,0.67,0.64,0.65,...,0.77,0.80,0.65,0.61,0.53,0.50,0.39,-22.4%,-7.9%,0.2%
2,Mexico,0.03,0.03,0.04,0.04,0.04,0.05,0.06,0.06,0.07,...,0.52,0.64,0.57,0.54,0.24,0.20,0.25,26.6%,-7.3%,0.2%
3,US,11.61,12.17,11.94,12.36,12.41,12.29,11.63,12.10,13.00,...,14.26,13.87,13.28,11.34,9.20,10.57,9.87,-6.7%,-5.5%,6.1%
4,Total North America,12.28,12.84,12.61,13.08,13.11,13.05,12.36,12.80,13.72,...,15.55,15.30,14.50,12.50,9.98,11.27,10.51,-6.8%,-5.6%,6.5%

In [207]:
rename_dict = {'Exajoules':'Country','2022.1':'Growth rate 2022-2021 in %','2012-22':'Growth rate 2022-2012 in %', '2022.2':'Share 2022 in %' }

In [208]:
df_1.rename(columns=rename_dict, inplace=True)
df = df_1.rename(columns=rename_dict)
df.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,0.65,0.64,0.63,0.68,0.66,0.71,0.67,0.64,0.65,...,0.77,0.80,0.65,0.61,0.53,0.50,0.39,-22.4%,-7.9%,0.2%
2,Mexico,0.03,0.03,0.04,0.04,0.04,0.05,0.06,0.06,0.07,...,0.52,0.64,0.57,0.54,0.24,0.20,0.25,26.6%,-7.3%,0.2%
3,US,11.61,12.17,11.94,12.36,12.41,12.29,11.63,12.10,13.00,...,14.26,13.87,13.28,11.34,9.20,10.57,9.87,-6.7%,-5.5%,6.1%
4,Total North America,12.28,12.84,12.61,13.08,13.11,13.05,12.36,12.80,13.72,...,15.55,15.30,14.50,12.50,9.98,11.27,10.51,-6.8%,-5.6%,6.5%

In [209]:
df=df.drop([0,0])

In [210]:
df.shape

(120, 62)

In [211]:
df.count()

Country                       112
1965                          103
1966                          103
1967                          103
1968                          103
                             ...
2021                          103
2022                          103
Growth rate 2022-2021 in %    103
Growth rate 2022-2012 in %    103
Share 2022 in %               103
Length: 62, dtype: int64

In [212]:
df.isnull().sum()

Country                        8
1965                          17
1966                          17
1967                          17
1968                          17
                              ..
2021                          17
2022                          17
Growth rate 2022-2021 in %    17
Growth rate 2022-2012 in %    17
Share 2022 in %               17
Length: 62, dtype: int64

In [213]:
df.set_index('Country', inplace=True)

In [214]:
df.head()

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,0.65,0.64,0.63,0.68,0.66,0.71,0.67,0.64,0.65,0.67,...,0.77,0.80,0.65,0.61,0.53,0.50,0.39,-22.4%,-7.9%,0.2%
Mexico,0.03,0.03,0.04,0.04,0.04,0.05,0.06,0.06,0.07,0.07,...,0.52,0.64,0.57,0.54,0.24,0.20,0.25,26.6%,-7.3%,0.2%
US,11.61,12.17,11.94,12.36,12.41,12.29,11.63,12.10,13.00,12.69,...,14.26,13.87,13.28,11.34,9.20,10.57,9.87,-6.7%,-5.5%,6.1%
Total North America,12.28,12.84,12.61,13.08,13.11,13.05,12.36,12.80,13.72,13.43,...,15.55,15.30,14.50,12.50,9.98,11.27,10.51,-6.8%,-5.6%,6.5%
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [215]:
null_rows= df.isna().any(axis=1)

In [216]:
index_with_nulls = df.index[null_rows].tolist()

print(index_with_nulls)

[nan, nan, nan, nan, nan, nan, nan, nan, '* Commercial solid fuels only, i.e. bituminous coal and anthracite (hard coal), and lignite and brown (sub-bituminous) coal, and other commercial solid fuels. ', 'Excludes coal converted to liquid or gaseous fuels, but includes coal consumed in transformation processes.', '^ Less than 0.005.', 'w Less than 0.05%.', 'n/a not available.', 'USSR includes CIS, Georgia, Ukraine and the Baltic States.', '#Excludes Estonia, Latvia and Lithuania prior to 1985 and Croatia and Slovenia prior to 1990.', 'Notes:  Differences between these consumption figures and the world production statistics are accounted for by stock changes, and unadvoidable disparities in the definition, measurement or conversion of coal supply and demand data.', 'Annual changes and share of total are calculated using exajoules figures.']

In [217]:
df_new = df.drop(index_with_nulls)
df_new.head()

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,0.65,0.64,0.63,0.68,0.66,0.71,0.67,0.64,0.65,0.67,...,0.77,0.80,0.65,0.61,0.53,0.50,0.39,-22.4%,-7.9%,0.2%
Mexico,0.03,0.03,0.04,0.04,0.04,0.05,0.06,0.06,0.07,0.07,...,0.52,0.64,0.57,0.54,0.24,0.20,0.25,26.6%,-7.3%,0.2%
US,11.61,12.17,11.94,12.36,12.41,12.29,11.63,12.10,13.00,12.69,...,14.26,13.87,13.28,11.34,9.20,10.57,9.87,-6.7%,-5.5%,6.1%
Total North America,12.28,12.84,12.61,13.08,13.11,13.05,12.36,12.80,13.72,13.43,...,15.55,15.30,14.50,12.50,9.98,11.27,10.51,-6.8%,-5.6%,6.5%
Argentina,0.03,0.03,0.03,0.03,0.03,0.04,0.04,0.03,0.03,0.04,...,0.04,0.05,0.05,0.03,0.04,0.05,0.05,2.5%,0.5%,â¦

In [218]:
df_new.isnull().sum()

1965                          0
1966                          0
1967                          0
1968                          0
1969                          0
                             ..
2021                          0
2022                          0
Growth rate 2022-2021 in %    0
Growth rate 2022-2012 in %    0
Share 2022 in %               0
Length: 61, dtype: int64

In [219]:
df_new.dtypes

1965                          object
1966                          object
1967                          object
1968                          object
1969                          object
                               ...
2021                          object
2022                          object
Growth rate 2022-2021 in %    object
Growth rate 2022-2012 in %    object
Share 2022 in %               object
Length: 61, dtype: object

In [220]:
columns_to_convert = df_new.columns[:-3]

In [221]:
for column in columns_to_convert:
    df_new[column] = pd.to_numeric(df_new[column], errors='coerce')
    
df_new.dtypes

1965                          float64
1966                          float64
1967                          float64
1968                          float64
1969                          float64
                               ...
2021                          float64
2022                          float64
Growth rate 2022-2021 in %     object
Growth rate 2022-2012 in %     object
Share 2022 in %                object
Length: 61, dtype: object

In [222]:
# Function to convert percentage strings to float and handle non-numeric values
def convert_percent_to_float(df_new_column):
    # Replace '%' and handle non-numeric entries
    return pd.to_numeric(df_new_column.str.replace('%', '').replace('-', np.nan), errors='coerce')

# Applying the conversion function to the last three columns
df_new['Growth rate 2022-2021 in %'] = convert_percent_to_float(df_new['Growth rate 2022-2021 in %'])
df_new['Growth rate 2022-2012 in %'] = convert_percent_to_float(df_new['Growth rate 2022-2012 in %'])
df_new['Share 2022 in %'] = convert_percent_to_float(df_new['Share 2022 in %'])

# Output the updated Data type in the dataframe
df_new.dtypes

1965                          float64
1966                          float64
1967                          float64
1968                          float64
1969                          float64
                               ...
2021                          float64
2022                          float64
Growth rate 2022-2021 in %    float64
Growth rate 2022-2012 in %    float64
Share 2022 in %               float64
Length: 61, dtype: object

In [223]:
# Dropping rows where any cell has NaN
df_new.fillna(0, inplace=True)

# Output the updated DataFrame
df_new.head(30)

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,0.65,0.64,0.63,0.68,0.66,0.71,0.67,0.64,0.65,0.67,...,0.77,0.80,0.65,0.61,0.53,0.50,0.39,-22.4,-7.9,0.2
Mexico,0.03,0.03,0.04,0.04,0.04,0.05,0.06,0.06,0.07,0.07,...,0.52,0.64,0.57,0.54,0.24,0.20,0.25,26.6,-7.3,0.2
US,11.61,12.17,11.94,12.36,12.41,12.29,11.63,12.10,13.00,12.69,...,14.26,13.87,13.28,11.34,9.20,10.57,9.87,-6.7,-5.5,6.1
Total North America,12.28,12.84,12.61,13.08,13.11,13.05,12.36,12.80,13.72,13.43,...,15.55,15.30,14.50,12.50,9.98,11.27,10.51,-6.8,-5.6,6.5
Argentina,0.03,0.03,0.03,0.03,0.03,0.04,0.04,0.03,0.03,0.04,...,0.04,0.05,0.05,0.03,0.04,0.05,0.05,2.5,0.5,0.0
Brazil,0.07,0.08,0.08,0.08,0.09,0.10,0.10,0.11,0.11,0.11,...,0.67,0.70,0.69,0.65,0.59,0.71,0.59,-17.8,-0.9,0.4
Chile,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.04,0.05,0.04,...,0.31,0.32,0.31,0.31,0.26,0.29,0.22,-24.6,-2.4,0.1
Colombia,0.08,0.08,0.09,0.08,0.09,0.09,0.07,0.08,0.08,0.09,...,0.23,0.17,0.16,0.19,0.17,0.11,0.10,-9.4,-6.3,0.1
Ecuador,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,45.5,19.9,0.0
Peru,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.01,0.01,0.01,...,0.04,0.03,0.03,0.03,0.02,0.02,0.03,36.1,-2.2,0.0
Trinidad & Tobago,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0
Venezuela,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.01,0.01,0.01,...,0.01,0.00,0.00,0.00,0.00,0.00,0.00,-12.0,-16.2,0.0
Central America,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.06,0.04,0.05,0.07,0.06,0.07,0.05,-34.1,4.4,0.0
Other Caribbean,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.08,0.07,0.08,0.11,0.15,0.14,0.14,-0.1,7.4,0.1
Other South America,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,26.2,10.8,0.0
Total S. & Cent. America,0.24,0.24,0.26,0.25,0.27,0.30,0.28,0.27,0.28,0.31,...,1.43,1.40,1.37,1.39,1.29,1.41,1.19,-15.9,-1.0,0.7
Austria,0.21,0.20,0.19,0.19,0.19,0.20,0.18,0.17,0.17,0.18,...,0.13,0.13,0.12,0.12,0.10,0.11,0.10,-5.5,-2.8,0.1
Belgium,0.80,0.73,0.72,0.74,0.72,0.68,0.56,0.54,0.45,0.48,...,0.13,0.13,0.13,0.13,0.10,0.11,0.12,3.4,-1.8,0.1
Bulgaria,0.25,0.26,0.28,0.31,0.31,0.34,0.33,0.34,0.34,0.34,...,0.24,0.26,0.23,0.21,0.17,0.22,0.26,19.4,-1.0,0.2
Croatia,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.03,0.02,0.02,0.02,0.02,0.02,0.02,-1.0,-4.2,0.0
Cyprus,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-20.7,63.5,0.0
Czech Republic,1.48,1.47,1.43,1.48,1.53,1.55,1.62,1.60,1.56,1.56,...,0.69,0.67,0.67,0.60,0.52,0.54,0.59,8.5,-2.3,0.4
Denmark,0.15,0.18,0.15,0.13,0.12,0.10,0.06,0.06,0.09,0.09,...,0.09,0.07,0.07,0.04,0.03,0.04,0.04,-3.3,-8.6,0.0
Estonia,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.16,0.18,0.18,0.13,0.10,0.11,0.12,7.1,-2.4,0.1
Finland,0.07,0.07,0.07,0.08,0.09,0.10,0.08,0.09,0.10,0.11,...,0.18,0.17,0.18,0.15,0.11,0.12,0.12,-0.1,-4.2,0.1
France,1.73,1.60,1.58,1.52,1.52,1.45,1.33,1.18,1.17,1.18,...,0.35,0.38,0.34,0.27,0.19,0.23,0.21,-6.1,-7.4,0.1
Germany,6.73,6.28,6.05,6.14,6.32,6.24,5.97,5.83,5.85,5.88,...,3.20,3.01,2.90,2.25,1.85,2.24,2.33,4.1,-3.6,1.4
Greece,0.09,0.09,0.08,0.10,0.09,0.11,0.16,0.17,0.20,0.21,...,0.18,0.20,0.20,0.13,0.08,0.07,0.07,0.5,-14.4,0.0
Hungary,0.46,0.44,0.38,0.38,0.38,0.39,0.37,0.36,0.37,0.35,...,0.09,0.09,0.09,0.08,0.07,0.06,0.05,-13.4,-7.5,0.0
Iceland,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,-100.0,0.0

In [224]:
# Create the output file (CSV)

output_data_file = "../World_energy_consumption/Clean_data_files/Coal_consumption_Exajoules.csv"


# Export the DataFrame to a CSV file
df_new.to_csv(output_data_file, index="Country")

In [225]:
# Now, transforming the data to store in postgres
file_path ='../World_energy_consumption/Clean_data_files/Coal_consumption_Exajoules.csv'
df_new= pd.read_csv(file_path, skiprows=0, encoding='unicode_escape')
df_new.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
0,Canada,0.65,0.64,0.63,0.68,0.66,0.71,0.67,0.64,0.65,...,0.77,0.80,0.65,0.61,0.53,0.50,0.39,-22.4,-7.9,0.2
1,Mexico,0.03,0.03,0.04,0.04,0.04,0.05,0.06,0.06,0.07,...,0.52,0.64,0.57,0.54,0.24,0.20,0.25,26.6,-7.3,0.2
2,US,11.61,12.17,11.94,12.36,12.41,12.29,11.63,12.10,13.00,...,14.26,13.87,13.28,11.34,9.20,10.57,9.87,-6.7,-5.5,6.1
3,Total North America,12.28,12.84,12.61,13.08,13.11,13.05,12.36,12.80,13.72,...,15.55,15.30,14.50,12.50,9.98,11.27,10.51,-6.8,-5.6,6.5
4,Argentina,0.03,0.03,0.03,0.03,0.03,0.04,0.04,0.03,0.03,...,0.04,0.05,0.05,0.03,0.04,0.05,0.05,2.5,0.5,0.0

In [226]:
# dropping the last three rows as these are not important for the analysis
columns_to_drop = df.columns[-3:]
df_new = df_new.drop(columns=columns_to_drop, axis=1)
df_new.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Canada,0.65,0.64,0.63,0.68,0.66,0.71,0.67,0.64,0.65,...,0.86,0.82,0.82,0.77,0.80,0.65,0.61,0.53,0.50,0.39
1,Mexico,0.03,0.03,0.04,0.04,0.04,0.05,0.06,0.06,0.07,...,0.53,0.53,0.53,0.52,0.64,0.57,0.54,0.24,0.20,0.25
2,US,11.61,12.17,11.94,12.36,12.41,12.29,11.63,12.10,13.00,...,18.08,18.04,15.58,14.26,13.87,13.28,11.34,9.20,10.57,9.87
3,Total North America,12.28,12.84,12.61,13.08,13.11,13.05,12.36,12.80,13.72,...,19.48,19.39,16.94,15.55,15.30,14.50,12.50,9.98,11.27,10.51
4,Argentina,0.03,0.03,0.03,0.03,0.03,0.04,0.04,0.03,0.03,...,0.05,0.06,0.06,0.04,0.05,0.05,0.03,0.04,0.05,0.05

In [227]:
df_new = df_new.melt(id_vars=['Country'], var_name='year', value_name='energy_consumption')

In [228]:
# Create the output file (CSV)

output_data_file = "../World_energy_consumption/Transformed_data_files/Coal_consumption_Exajoules.csv"


# Export the DataFrame to a CSV file
df_new.to_csv(output_data_file, index="Country")

# Oil consumtion in Exajoules

In [229]:
file_path ='../World_energy_consumption/Raw_data_files/Oil_consumption_Exajoule.csv'
df_1= pd.read_csv(file_path, skiprows=2, encoding='unicode_escape')
df_1.head()

,Exajoules,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,2022.1,2012-22,2022.2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,2.31,2.44,2.60,2.77,2.89,3.08,3.16,3.33,3.63,...,4.58,4.54,4.68,4.67,3.97,4.11,4.27,3.7%,-1.2%,2.2%
2,Mexico,0.64,0.67,0.72,0.78,0.83,0.89,0.94,1.06,1.14,...,4.02,3.93,3.68,3.50,3.02,3.39,4.12,21.3%,-2.5%,2.2%
3,US,23.09,24.23,25.16,26.85,28.19,29.43,30.46,32.83,34.76,...,35.86,36.21,37.08,37.02,32.52,35.51,36.15,1.8%,0.4%,19.0%
4,Total North America,26.05,27.34,28.48,30.40,31.91,33.40,34.57,37.22,39.53,...,44.47,44.67,45.44,45.19,39.51,43.02,44.53,3.5%,â¦,23.4%

In [230]:
rename_dict = {'Exajoules':'Country','2022.1':'Growth rate 2022-2021 in %','2012-22':'Growth rate 2022-2012 in %', '2022.2':'Share 2022 in %' }

In [231]:
df_1.rename(columns=rename_dict, inplace=True)
df = df_1.rename(columns=rename_dict)
df.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,2.31,2.44,2.60,2.77,2.89,3.08,3.16,3.33,3.63,...,4.58,4.54,4.68,4.67,3.97,4.11,4.27,3.7%,-1.2%,2.2%
2,Mexico,0.64,0.67,0.72,0.78,0.83,0.89,0.94,1.06,1.14,...,4.02,3.93,3.68,3.50,3.02,3.39,4.12,21.3%,-2.5%,2.2%
3,US,23.09,24.23,25.16,26.85,28.19,29.43,30.46,32.83,34.76,...,35.86,36.21,37.08,37.02,32.52,35.51,36.15,1.8%,0.4%,19.0%
4,Total North America,26.05,27.34,28.48,30.40,31.91,33.40,34.57,37.22,39.53,...,44.47,44.67,45.44,45.19,39.51,43.02,44.53,3.5%,â¦,23.4%

In [232]:
df=df.drop([0,0])

In [233]:
df.shape

(119, 62)

In [234]:
df.count()

Country                       111
1965                          103
1966                          103
1967                          103
1968                          103
                             ...
2021                          103
2022                          103
Growth rate 2022-2021 in %    103
Growth rate 2022-2012 in %    110
Share 2022 in %               103
Length: 62, dtype: int64

In [235]:
df.isnull().sum()

Country                        8
1965                          16
1966                          16
1967                          16
1968                          16
                              ..
2021                          16
2022                          16
Growth rate 2022-2021 in %    16
Growth rate 2022-2012 in %     9
Share 2022 in %               16
Length: 62, dtype: int64

In [236]:
df.set_index('Country', inplace=True)

In [237]:
df.head()

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,2.31,2.44,2.60,2.77,2.89,3.08,3.16,3.33,3.63,3.70,...,4.58,4.54,4.68,4.67,3.97,4.11,4.27,3.7%,-1.2%,2.2%
Mexico,0.64,0.67,0.72,0.78,0.83,0.89,0.94,1.06,1.14,1.29,...,4.02,3.93,3.68,3.50,3.02,3.39,4.12,21.3%,-2.5%,2.2%
US,23.09,24.23,25.16,26.85,28.19,29.43,30.46,32.83,34.76,33.38,...,35.86,36.21,37.08,37.02,32.52,35.51,36.15,1.8%,0.4%,19.0%
Total North America,26.05,27.34,28.48,30.40,31.91,33.40,34.57,37.22,39.53,38.36,...,44.47,44.67,45.44,45.19,39.51,43.02,44.53,3.5%,â¦,23.4%
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN

In [238]:
null_rows= df.isna().any(axis=1)

In [239]:
index_with_nulls = df.index[null_rows].tolist()

print(index_with_nulls)

[nan, nan, nan, nan, nan, nan, nan, nan, '* Inland demand plus international aviation and marine bunkers and refinery fuel and loss. Consumption of biogasoline (such as ethanol) and biodiesel are excluded while derivatives of coal and natural gas are included.', 'â\x99¦ Less than 0.05%.', 'n/a not available.', 'USSR includes CIS, Georgia, Ukraine and the Baltic States.', '#Excludes Estonia, Latvia and Lithuania prior to 1985 and Croatia and Slovenia prior to 1990.', 'Notes: Differences between these world consumption figures and world production statistics are accounted for by stock changes, consumption of non-petroleum additives and substitute fuels', 'and unavoidable disparities in the definition, measurement or conversion of oil supply and demand data.', 'Annual changes and shares of total are calculated using exajoules figures. Growth rates are adjusted for leap years.']

In [240]:
df_new = df.drop(index_with_nulls)
df_new.head()

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,2.31,2.44,2.60,2.77,2.89,3.08,3.16,3.33,3.63,3.70,...,4.58,4.54,4.68,4.67,3.97,4.11,4.27,3.7%,-1.2%,2.2%
Mexico,0.64,0.67,0.72,0.78,0.83,0.89,0.94,1.06,1.14,1.29,...,4.02,3.93,3.68,3.50,3.02,3.39,4.12,21.3%,-2.5%,2.2%
US,23.09,24.23,25.16,26.85,28.19,29.43,30.46,32.83,34.76,33.38,...,35.86,36.21,37.08,37.02,32.52,35.51,36.15,1.8%,0.4%,19.0%
Total North America,26.05,27.34,28.48,30.40,31.91,33.40,34.57,37.22,39.53,38.36,...,44.47,44.67,45.44,45.19,39.51,43.02,44.53,3.5%,â¦,23.4%
Argentina,0.99,1.02,1.05,1.07,1.11,1.00,1.07,1.06,1.07,1.07,...,1.35,1.34,1.28,1.16,1.04,1.29,1.38,6.9%,-0.1%,0.7%

In [241]:
df_new.isnull().sum()

1965                          0
1966                          0
1967                          0
1968                          0
1969                          0
                             ..
2021                          0
2022                          0
Growth rate 2022-2021 in %    0
Growth rate 2022-2012 in %    0
Share 2022 in %               0
Length: 61, dtype: int64

In [242]:
df_new.dtypes

1965                          object
1966                          object
1967                          object
1968                          object
1969                          object
                               ...
2021                          object
2022                          object
Growth rate 2022-2021 in %    object
Growth rate 2022-2012 in %    object
Share 2022 in %               object
Length: 61, dtype: object

In [243]:
columns_to_convert = df_new.columns[:-3]

In [244]:
for column in columns_to_convert:
    df_new[column] = pd.to_numeric(df_new[column], errors='coerce')
    
df_new.dtypes

1965                          float64
1966                          float64
1967                          float64
1968                          float64
1969                          float64
                               ...
2021                          float64
2022                          float64
Growth rate 2022-2021 in %     object
Growth rate 2022-2012 in %     object
Share 2022 in %                object
Length: 61, dtype: object

In [245]:
# Function to convert percentage strings to float and handle non-numeric values
def convert_percent_to_float(df_new_column):
    # Replace '%' and handle non-numeric entries
    return pd.to_numeric(df_new_column.str.replace('%', '').replace('-', np.nan), errors='coerce')

# Applying the conversion function to the last three columns
df_new['Growth rate 2022-2021 in %'] = convert_percent_to_float(df_new['Growth rate 2022-2021 in %'])
df_new['Growth rate 2022-2012 in %'] = convert_percent_to_float(df_new['Growth rate 2022-2012 in %'])
df_new['Share 2022 in %'] = convert_percent_to_float(df_new['Share 2022 in %'])

# Output the updated Data type in the dataframe
df_new.dtypes

1965                          float64
1966                          float64
1967                          float64
1968                          float64
1969                          float64
                               ...
2021                          float64
2022                          float64
Growth rate 2022-2021 in %    float64
Growth rate 2022-2012 in %    float64
Share 2022 in %               float64
Length: 61, dtype: object

In [246]:
# Dropping rows where any cell has NaN
df_new.fillna(0, inplace=True)

# Output the updated DataFrame
df_new.head(30)

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,2.31,2.44,2.60,2.77,2.89,3.08,3.16,3.33,3.63,3.70,...,4.58,4.54,4.68,4.67,3.97,4.11,4.27,3.7,-1.2,2.2
Mexico,0.64,0.67,0.72,0.78,0.83,0.89,0.94,1.06,1.14,1.29,...,4.02,3.93,3.68,3.50,3.02,3.39,4.12,21.3,-2.5,2.2
US,23.09,24.23,25.16,26.85,28.19,29.43,30.46,32.83,34.76,33.38,...,35.86,36.21,37.08,37.02,32.52,35.51,36.15,1.8,0.4,19.0
Total North America,26.05,27.34,28.48,30.40,31.91,33.40,34.57,37.22,39.53,38.36,...,44.47,44.67,45.44,45.19,39.51,43.02,44.53,3.5,0.0,23.4
Argentina,0.99,1.02,1.05,1.07,1.11,1.00,1.07,1.06,1.07,1.07,...,1.35,1.34,1.28,1.16,1.04,1.29,1.38,6.9,-0.1,0.7
Brazil,0.64,0.70,0.72,0.86,0.95,1.08,1.23,1.40,1.70,1.88,...,4.90,4.95,4.71,4.69,4.42,4.78,5.01,4.7,-0.8,2.6
Chile,0.15,0.16,0.17,0.18,0.19,0.20,0.22,0.23,0.22,0.22,...,0.72,0.73,0.76,0.76,0.69,0.76,0.80,4.7,0.8,0.4
Colombia,0.20,0.24,0.24,0.25,0.24,0.28,0.29,0.34,0.31,0.34,...,0.79,0.78,0.79,0.79,0.67,0.86,0.96,12.0,2.8,0.5
Ecuador,0.03,0.03,0.03,0.04,0.04,0.05,0.05,0.05,0.06,0.07,...,0.48,0.47,0.51,0.49,0.40,0.49,0.53,6.8,0.4,0.3
Peru,0.16,0.20,0.20,0.20,0.19,0.20,0.20,0.17,0.20,0.24,...,0.47,0.48,0.49,0.51,0.39,0.48,0.50,3.8,1.8,0.3
Trinidad & Tobago,0.08,0.08,0.08,0.09,0.09,0.09,0.10,0.15,0.16,0.15,...,0.10,0.09,0.09,0.05,0.05,0.05,0.05,1.4,-5.6,0.0
Venezuela,0.40,0.40,0.40,0.44,0.44,0.46,0.46,0.50,0.55,0.55,...,1.08,1.00,0.82,0.69,0.40,0.45,0.53,18.4,-11.9,0.3
Central America,0.14,0.15,0.15,0.16,0.16,0.17,0.18,0.19,0.21,0.22,...,0.91,0.94,0.93,1.01,0.86,0.98,1.04,6.5,2.4,0.5
Other Caribbean,0.75,0.78,0.81,0.83,0.85,0.98,1.00,1.07,1.19,1.18,...,1.33,1.28,1.30,1.28,1.10,1.06,1.10,3.6,-2.1,0.6
Other South America,0.13,0.13,0.14,0.14,0.15,0.15,0.16,0.17,0.17,0.16,...,0.43,0.44,0.45,0.46,0.38,0.48,0.48,1.8,2.1,0.3
Total S. & Cent. America,3.67,3.88,3.99,4.25,4.42,4.67,4.95,5.34,5.83,6.08,...,12.58,12.50,12.13,11.88,10.40,11.67,12.37,6.0,-0.9,6.5
Austria,0.24,0.26,0.28,0.32,0.35,0.39,0.43,0.46,0.50,0.45,...,0.52,0.53,0.53,0.55,0.48,0.50,0.48,-2.5,-0.3,0.3
Belgium,0.68,0.69,0.76,0.89,1.02,1.12,1.14,1.24,1.30,1.14,...,1.27,1.29,1.38,1.29,1.11,1.23,1.16,-5.9,0.1,0.6
Bulgaria,0.16,0.18,0.23,0.27,0.33,0.38,0.42,0.44,0.46,0.48,...,0.20,0.20,0.20,0.21,0.19,0.20,0.22,9.8,1.7,0.1
Croatia,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.14,0.15,0.15,0.14,0.12,0.13,0.14,11.0,-0.4,0.1
Cyprus,0.02,0.02,0.02,0.02,0.03,0.03,0.03,0.04,0.04,0.04,...,0.11,0.11,0.11,0.11,0.09,0.10,0.10,6.2,-1.3,0.1
Czech Republic,0.17,0.19,0.21,0.23,0.25,0.30,0.33,0.36,0.40,0.41,...,0.35,0.42,0.42,0.42,0.37,0.41,0.41,1.7,0.5,0.2
Denmark,0.44,0.50,0.53,0.58,0.70,0.78,0.77,0.81,0.75,0.68,...,0.31,0.30,0.31,0.31,0.25,0.27,0.28,4.1,-1.0,0.1
Estonia,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.06,0.06,0.06,0.06,0.06,0.06,0.05,-7.9,-1.8,0.0
Finland,0.24,0.29,0.31,0.35,0.41,0.46,0.47,0.50,0.56,0.49,...,0.41,0.40,0.40,0.39,0.35,0.33,0.33,1.5,-1.8,0.2
France,2.29,2.46,2.83,3.06,3.54,4.02,4.38,4.86,5.42,5.15,...,3.17,3.18,3.17,3.14,2.68,2.92,2.91,-0.2,-1.3,1.5
Germany,3.67,4.11,4.27,4.79,5.39,5.92,6.17,6.51,6.94,6.29,...,4.76,4.87,4.63,4.66,4.22,4.18,4.26,1.9,-1.2,2.2
Greece,0.19,0.21,0.24,0.25,0.26,0.29,0.31,0.36,0.42,0.40,...,0.61,0.63,0.62,0.64,0.52,0.55,0.62,12.5,-1.6,0.3
Hungary,0.16,0.18,0.19,0.19,0.22,0.25,0.28,0.31,0.35,0.38,...,0.30,0.33,0.35,0.35,0.32,0.35,0.35,-0.8,3.0,0.2
Iceland,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.03,0.03,...,0.04,0.04,0.05,0.04,0.03,0.03,0.04,36.5,-1.4,0.0

In [247]:
# Create the output file (CSV)

output_data_file = "../World_energy_consumption/Clean_data_files/Oil_consumption_Exajoules.csv"


# Export the DataFrame to a CSV file
df_new.to_csv(output_data_file, index="Country")

In [248]:
# Transforming the data to store in postgres databse
file_path ='../World_energy_consumption/Clean_data_files/Oil_consumption_Exajoules.csv'
df_new= pd.read_csv(file_path, skiprows=0, encoding='unicode_escape')
df_new.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
0,Canada,2.31,2.44,2.60,2.77,2.89,3.08,3.16,3.33,3.63,...,4.58,4.54,4.68,4.67,3.97,4.11,4.27,3.7,-1.2,2.2
1,Mexico,0.64,0.67,0.72,0.78,0.83,0.89,0.94,1.06,1.14,...,4.02,3.93,3.68,3.50,3.02,3.39,4.12,21.3,-2.5,2.2
2,US,23.09,24.23,25.16,26.85,28.19,29.43,30.46,32.83,34.76,...,35.86,36.21,37.08,37.02,32.52,35.51,36.15,1.8,0.4,19.0
3,Total North America,26.05,27.34,28.48,30.40,31.91,33.40,34.57,37.22,39.53,...,44.47,44.67,45.44,45.19,39.51,43.02,44.53,3.5,0.0,23.4
4,Argentina,0.99,1.02,1.05,1.07,1.11,1.00,1.07,1.06,1.07,...,1.35,1.34,1.28,1.16,1.04,1.29,1.38,6.9,-0.1,0.7

In [249]:
# dropping the last three rows as these are not important for the analysis
columns_to_drop = df.columns[-3:]
df_new = df_new.drop(columns=columns_to_drop, axis=1)
df_new.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Canada,2.31,2.44,2.60,2.77,2.89,3.08,3.16,3.33,3.63,...,4.60,4.59,4.60,4.58,4.54,4.68,4.67,3.97,4.11,4.27
1,Mexico,0.64,0.67,0.72,0.78,0.83,0.89,0.94,1.06,1.14,...,4.23,4.04,3.92,4.02,3.93,3.68,3.50,3.02,3.39,4.12
2,US,23.09,24.23,25.16,26.85,28.19,29.43,30.46,32.83,34.76,...,34.66,34.90,35.61,35.86,36.21,37.08,37.02,32.52,35.51,36.15
3,Total North America,26.05,27.34,28.48,30.40,31.91,33.40,34.57,37.22,39.53,...,43.49,43.52,44.12,44.47,44.67,45.44,45.19,39.51,43.02,44.53
4,Argentina,0.99,1.02,1.05,1.07,1.11,1.00,1.07,1.06,1.07,...,1.38,1.37,1.40,1.35,1.34,1.28,1.16,1.04,1.29,1.38

In [250]:
df_new = df_new.melt(id_vars=['Country'], var_name='year', value_name='energy_consumption')

In [251]:
# Create the output file (CSV)

output_data_file = "../World_energy_consumption/Transformed_data_files/Oil_consumption_Exajoules.csv"


# Export the DataFrame to a CSV file
df_new.to_csv(output_data_file, index="Country")

# Gas consumption in Exajoules

In [288]:
file_path ='../World_energy_consumption/Raw_data_files/Gas_consumption_Exajoules.csv'
df_1= pd.read_csv(file_path, skiprows=2, encoding='unicode_escape')
df_1.head()

,Exajoules,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,2022.1,2012-22,2022.2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,0.78,0.85,0.91,1.01,1.13,1.25,1.33,1.50,1.59,...,3.79,3.95,4.18,4.21,4.09,4.21,4.38,4.0%,2.1%,3.1%
2,Mexico,0.29,0.31,0.26,0.28,0.35,0.36,0.37,0.40,0.44,...,2.99,3.10,3.25,3.36,3.40,3.50,3.48,-0.8%,2.8%,2.5%
3,US,14.97,16.14,17.04,18.24,19.63,20.70,21.34,21.55,21.38,...,26.97,26.64,29.59,30.64,29.98,30.09,31.72,5.4%,2.5%,22.4%
4,Total North America,16.04,17.30,18.21,19.53,21.11,22.30,23.04,23.45,23.41,...,33.74,33.69,37.02,38.21,37.48,37.80,39.58,4.7%,2.5%,27.9%

In [289]:
rename_dict = {'Exajoules':'Country','2022.1':'Growth rate 2022-2021 in %','2012-22':'Growth rate 2022-2012 in %', '2022.2':'Share 2022 in %' }
df_1.rename(columns=rename_dict, inplace=True)
df = df_1.rename(columns=rename_dict)
df.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,0.78,0.85,0.91,1.01,1.13,1.25,1.33,1.50,1.59,...,3.79,3.95,4.18,4.21,4.09,4.21,4.38,4.0%,2.1%,3.1%
2,Mexico,0.29,0.31,0.26,0.28,0.35,0.36,0.37,0.40,0.44,...,2.99,3.10,3.25,3.36,3.40,3.50,3.48,-0.8%,2.8%,2.5%
3,US,14.97,16.14,17.04,18.24,19.63,20.70,21.34,21.55,21.38,...,26.97,26.64,29.59,30.64,29.98,30.09,31.72,5.4%,2.5%,22.4%
4,Total North America,16.04,17.30,18.21,19.53,21.11,22.30,23.04,23.45,23.41,...,33.74,33.69,37.02,38.21,37.48,37.80,39.58,4.7%,2.5%,27.9%

In [290]:
df=df.drop([0,0])
df.shape

(120, 62)

In [291]:
df.count()

Country                       112
1965                          103
1966                          103
1967                          103
1968                          103
                             ...
2021                          103
2022                          103
Growth rate 2022-2021 in %    103
Growth rate 2022-2012 in %    103
Share 2022 in %               104
Length: 62, dtype: int64

In [292]:
df.isnull().sum()

Country                        8
1965                          17
1966                          17
1967                          17
1968                          17
                              ..
2021                          17
2022                          17
Growth rate 2022-2021 in %    17
Growth rate 2022-2012 in %    17
Share 2022 in %               16
Length: 62, dtype: int64

In [293]:
df.set_index('Country', inplace=True)

In [294]:
null_rows= df.isna().any(axis=1)

In [295]:
index_with_nulls = df.index[null_rows].tolist()

print(index_with_nulls)

[nan, nan, nan, nan, nan, nan, nan, nan, '* Excludes natural gas converted to liquid fuels but includes derivatives of coal as well as natural gas consumed in Gas-to-Liquids transformation.', '^ Less than 0.005.', 'w Less than 0.05%.', 'n/a not available.', 'USSR includes CIS, Georgia, Ukraine and the Baltic States.', '#Excludes Estonia, Latvia and Lithuania prior to 1985 and Slovenia prior to 1990.', 'Notes: The difference between these world consumption figures and the world production statistics is due to variations in stocks at storage facilities', 'and liquefaction plants, together with unavoidable disparities in the definition, measurement or conversion of gas supply and demand data.', 'Annual changes and share of total are calculated using exajoules figures.']

In [296]:
df_new = df.drop(index_with_nulls)
df_new.head()

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,0.78,0.85,0.91,1.01,1.13,1.25,1.33,1.50,1.59,1.61,...,3.79,3.95,4.18,4.21,4.09,4.21,4.38,4.0%,2.1%,3.1%
Mexico,0.29,0.31,0.26,0.28,0.35,0.36,0.37,0.40,0.44,0.46,...,2.99,3.10,3.25,3.36,3.40,3.50,3.48,-0.8%,2.8%,2.5%
US,14.97,16.14,17.04,18.24,19.63,20.70,21.34,21.55,21.38,20.64,...,26.97,26.64,29.59,30.64,29.98,30.09,31.72,5.4%,2.5%,22.4%
Total North America,16.04,17.30,18.21,19.53,21.11,22.30,23.04,23.45,23.41,22.71,...,33.74,33.69,37.02,38.21,37.48,37.80,39.58,4.7%,2.5%,27.9%
Argentina,0.15,0.16,0.17,0.19,0.19,0.21,0.23,0.26,0.29,0.31,...,1.74,1.74,1.75,1.68,1.58,1.65,1.64,-0.5%,â¦,1.2%

In [297]:
df_new.isnull().sum()

1965                          0
1966                          0
1967                          0
1968                          0
1969                          0
                             ..
2021                          0
2022                          0
Growth rate 2022-2021 in %    0
Growth rate 2022-2012 in %    0
Share 2022 in %               0
Length: 61, dtype: int64

In [298]:
df.count()

1965                          103
1966                          103
1967                          103
1968                          103
1969                          103
                             ...
2021                          103
2022                          103
Growth rate 2022-2021 in %    103
Growth rate 2022-2012 in %    103
Share 2022 in %               104
Length: 61, dtype: int64

In [299]:
df_new.dtypes

1965                          object
1966                          object
1967                          object
1968                          object
1969                          object
                               ...
2021                          object
2022                          object
Growth rate 2022-2021 in %    object
Growth rate 2022-2012 in %    object
Share 2022 in %               object
Length: 61, dtype: object

In [300]:
columns_to_convert = df_new.columns[:-3]

In [301]:
for column in columns_to_convert:
    df_new[column] = pd.to_numeric(df_new[column], errors='coerce')
    
df_new.dtypes

1965                          float64
1966                          float64
1967                          float64
1968                          float64
1969                          float64
                               ...
2021                          float64
2022                          float64
Growth rate 2022-2021 in %     object
Growth rate 2022-2012 in %     object
Share 2022 in %                object
Length: 61, dtype: object

In [302]:
# Function to convert percentage strings to float and handle non-numeric values
def convert_percent_to_float(df_new_column):
    # Replace '%' and handle non-numeric entries
    return pd.to_numeric(df_new_column.str.replace('%', '').replace('-', np.nan), errors='coerce')

# Applying the conversion function to the last three columns
df_new['Growth rate 2022-2021 in %'] = convert_percent_to_float(df_new['Growth rate 2022-2021 in %'])
df_new['Growth rate 2022-2012 in %'] = convert_percent_to_float(df_new['Growth rate 2022-2012 in %'])
df_new['Share 2022 in %'] = convert_percent_to_float(df_new['Share 2022 in %'])

# Output the updated Data type in the dataframe
df_new.dtypes

1965                          float64
1966                          float64
1967                          float64
1968                          float64
1969                          float64
                               ...
2021                          float64
2022                          float64
Growth rate 2022-2021 in %    float64
Growth rate 2022-2012 in %    float64
Share 2022 in %               float64
Length: 61, dtype: object

In [303]:
# Dropping rows where any cell has NaN
df_new.fillna(0, inplace=True)

# Output the updated DataFrame
df_new.head(30)

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,0.78,0.85,0.91,1.01,1.13,1.25,1.33,1.50,1.59,1.61,...,3.79,3.95,4.18,4.21,4.09,4.21,4.38,4.0,2.1,3.1
Mexico,0.29,0.31,0.26,0.28,0.35,0.36,0.37,0.40,0.44,0.46,...,2.99,3.10,3.25,3.36,3.40,3.50,3.48,-0.8,2.8,2.5
US,14.97,16.14,17.04,18.24,19.63,20.70,21.34,21.55,21.38,20.64,...,26.97,26.64,29.59,30.64,29.98,30.09,31.72,5.4,2.5,22.4
Total North America,16.04,17.30,18.21,19.53,21.11,22.30,23.04,23.45,23.41,22.71,...,33.74,33.69,37.02,38.21,37.48,37.80,39.58,4.7,2.5,27.9
Argentina,0.15,0.16,0.17,0.19,0.19,0.21,0.23,0.26,0.29,0.31,...,1.74,1.74,1.75,1.68,1.58,1.65,1.64,-0.5,0.0,1.2
Brazil,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.01,0.01,...,1.34,1.35,1.29,1.29,1.13,1.46,1.15,-20.9,-0.2,0.8
Chile,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,...,0.21,0.20,0.20,0.23,0.22,0.25,0.27,9.3,3.5,0.2
Colombia,0.03,0.03,0.04,0.04,0.05,0.04,0.05,0.06,0.06,0.06,...,0.43,0.43,0.46,0.46,0.47,0.45,0.45,-0.3,2.9,0.3
Ecuador,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.03,0.03,0.03,0.02,0.02,0.02,0.02,-5.6,-3.0,0.0
Peru,0.01,0.01,0.01,0.01,0.01,0.01,0.02,0.02,0.02,0.02,...,0.31,0.27,0.29,0.30,0.26,0.29,0.35,19.9,3.5,0.2
Trinidad & Tobago,0.04,0.05,0.05,0.06,0.06,0.07,0.07,0.07,0.07,0.06,...,0.61,0.66,0.63,0.63,0.55,0.56,0.54,-3.5,-2.9,0.4
Venezuela,0.27,0.28,0.31,0.32,0.33,0.31,0.30,0.30,0.37,0.39,...,1.34,1.39,1.14,0.92,0.78,1.01,1.05,4.0,-1.7,0.7
Central America,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.01,0.02,0.01,0.01,0.02,122.9,0.0,0.0
Other Caribbean,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.14,0.13,0.15,0.18,0.17,0.21,0.19,-8.6,5.2,0.1
Other South America,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01,...,0.13,0.14,0.14,0.14,0.12,0.13,0.13,-1.2,1.7,0.1
Total S. & Cent. America,0.53,0.57,0.61,0.64,0.66,0.68,0.69,0.73,0.83,0.87,...,6.27,6.34,6.08,5.86,5.31,6.04,5.82,-3.7,0.0,4.1
Austria,0.06,0.07,0.06,0.07,0.08,0.10,0.12,0.13,0.14,0.15,...,0.30,0.33,0.31,0.32,0.31,0.32,0.28,-12.2,-0.9,0.2
Belgium,0.00,0.00,0.02,0.04,0.09,0.14,0.20,0.25,0.30,0.35,...,0.58,0.59,0.61,0.63,0.61,0.61,0.52,-14.2,-1.4,0.4
Bulgaria,0.00,0.00,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.02,...,0.11,0.12,0.11,0.10,0.11,0.12,0.10,-18.1,-0.5,0.1
Croatia,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.09,0.10,0.10,0.10,0.11,0.10,0.09,-13.7,-1.4,0.1
Cyprus,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0
Czech Republic,0.02,0.02,0.02,0.02,0.03,0.03,0.04,0.04,0.04,0.05,...,0.29,0.30,0.29,0.30,0.30,0.33,0.27,-18.7,-0.8,0.2
Denmark,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.12,0.12,0.11,0.10,0.08,0.09,0.06,-28.3,-8.3,0.0
Estonia,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.02,0.02,0.02,0.02,0.02,0.02,0.01,-25.5,-5.5,0.0
Finland,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.02,...,0.07,0.07,0.08,0.07,0.07,0.07,0.04,-47.9,-10.3,0.0
France,0.18,0.19,0.22,0.26,0.30,0.34,0.41,0.48,0.57,0.59,...,1.60,1.61,1.54,1.57,1.46,1.55,1.38,-10.8,-1.5,1.0
Germany,0.11,0.13,0.17,0.28,0.40,0.58,0.76,0.98,1.27,1.59,...,3.06,3.16,3.09,3.21,3.14,3.30,2.78,-15.7,-0.5,2.0
Greece,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.16,0.19,0.19,0.21,0.23,0.25,0.22,-11.2,2.8,0.2
Hungary,0.05,0.06,0.08,0.10,0.12,0.13,0.14,0.15,0.17,0.19,...,0.34,0.36,0.35,0.35,0.37,0.39,0.33,-15.1,-0.6,0.2
Iceland,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0

In [304]:
df.count()

1965                          103
1966                          103
1967                          103
1968                          103
1969                          103
                             ...
2021                          103
2022                          103
Growth rate 2022-2021 in %    103
Growth rate 2022-2012 in %    103
Share 2022 in %               104
Length: 61, dtype: int64

In [305]:
# Create the output file (CSV)

output_data_file = "../World_energy_consumption/Clean_data_files/Gas_consumption_Exajoules.csv"


# Export the DataFrame to a CSV file
df_new.to_csv(output_data_file, index="Country")

In [306]:
# Transforming the data to store in postgres databse
file_path ='../World_energy_consumption/Clean_data_files/Gas_consumption_Exajoules.csv'
df_new= pd.read_csv(file_path, skiprows=0, encoding='unicode_escape')
df_new.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
0,Canada,0.78,0.85,0.91,1.01,1.13,1.25,1.33,1.50,1.59,...,3.79,3.95,4.18,4.21,4.09,4.21,4.38,4.0,2.1,3.1
1,Mexico,0.29,0.31,0.26,0.28,0.35,0.36,0.37,0.40,0.44,...,2.99,3.10,3.25,3.36,3.40,3.50,3.48,-0.8,2.8,2.5
2,US,14.97,16.14,17.04,18.24,19.63,20.70,21.34,21.55,21.38,...,26.97,26.64,29.59,30.64,29.98,30.09,31.72,5.4,2.5,22.4
3,Total North America,16.04,17.30,18.21,19.53,21.11,22.30,23.04,23.45,23.41,...,33.74,33.69,37.02,38.21,37.48,37.80,39.58,4.7,2.5,27.9
4,Argentina,0.15,0.16,0.17,0.19,0.19,0.21,0.23,0.26,0.29,...,1.74,1.74,1.75,1.68,1.58,1.65,1.64,-0.5,0.0,1.2

In [307]:
# dropping the last three rows as these are not important for the analysis
columns_to_drop = df.columns[-3:]
df_new = df_new.drop(columns=columns_to_drop, axis=1)
df_new.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Canada,0.78,0.85,0.91,1.01,1.13,1.25,1.33,1.50,1.59,...,3.80,3.95,3.97,3.79,3.95,4.18,4.21,4.09,4.21,4.38
1,Mexico,0.29,0.31,0.26,0.28,0.35,0.36,0.37,0.40,0.44,...,2.80,2.84,2.91,2.99,3.10,3.25,3.36,3.40,3.50,3.48
2,US,14.97,16.14,17.04,18.24,19.63,20.70,21.34,21.55,21.38,...,25.45,26.00,26.77,26.97,26.64,29.59,30.64,29.98,30.09,31.72
3,Total North America,16.04,17.30,18.21,19.53,21.11,22.30,23.04,23.45,23.41,...,32.05,32.79,33.65,33.74,33.69,37.02,38.21,37.48,37.80,39.58
4,Argentina,0.15,0.16,0.17,0.19,0.19,0.21,0.23,0.26,0.29,...,1.66,1.66,1.68,1.74,1.74,1.75,1.68,1.58,1.65,1.64

In [308]:
df_new = df_new.melt(id_vars=['Country'], var_name='year', value_name='energy_consumption')

In [309]:
# Create the output file (CSV)

output_data_file = "../World_energy_consumption/Transformed_data_files/Gas_consumption_Exajoules.csv"


# Export the DataFrame to a CSV file
df_new.to_csv(output_data_file, index="Country")

# Wind consumption in Exajoules

In [273]:
file_path ='../World_energy_consumption/Raw_data_files/Wind_consumption_EJ.csv'
df_1= pd.read_csv(file_path, skiprows=2, encoding='unicode_escape')
df_1.head()

,Exajoules (input-equivalent),1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,2022.1,2012-22,2022.2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,-,-,-,-,-,-,-,-,-,...,0.30,0.30,0.32,0.31,0.34,0.33,0.35,7.6%,12.2%,1.8%
2,Mexico,-,-,-,-,-,-,-,-,-,...,0.10,0.10,0.12,0.16,0.19,0.20,0.19,-3.9%,18.0%,1.0%
3,US,-,-,-,-,-,-,-,-,-,...,2.21,2.46,2.62,2.84,3.23,3.60,4.12,14.6%,11.4%,20.9%
4,Total North America,-,-,-,-,-,-,-,-,-,...,2.61,2.86,3.06,3.31,3.75,4.12,4.67,13.1%,11.6%,23.6%

In [274]:
rename_dict = {'Exajoules (input-equivalent)':'Country','2022.1':'Growth rate 2022-2021 in %','2012-22':'Growth rate 2022-2012 in %', '2022.2':'Share 2022 in %' }
df_1.rename(columns=rename_dict, inplace=True)
df = df_1.rename(columns=rename_dict)
df.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,-,-,-,-,-,-,-,-,-,...,0.30,0.30,0.32,0.31,0.34,0.33,0.35,7.6%,12.2%,1.8%
2,Mexico,-,-,-,-,-,-,-,-,-,...,0.10,0.10,0.12,0.16,0.19,0.20,0.19,-3.9%,18.0%,1.0%
3,US,-,-,-,-,-,-,-,-,-,...,2.21,2.46,2.62,2.84,3.23,3.60,4.12,14.6%,11.4%,20.9%
4,Total North America,-,-,-,-,-,-,-,-,-,...,2.61,2.86,3.06,3.31,3.75,4.12,4.67,13.1%,11.6%,23.6%

In [275]:
df.set_index('Country', inplace=True)

In [276]:
null_rows= df.isna().any(axis=1)
index_with_nulls = df.index[null_rows].tolist()

print(index_with_nulls)

[nan, nan, nan, nan, nan, nan, nan, nan, nan, '*Based on gross generation and not accounting for cross-border electricity supply. â\x80\x9cInput-equivalentâ\x80\x9d energy is the amount of fuel that would be required by thermal power stations to generate the reported electricity output. ', 'Details on thermal efficiency assumptions are available in the appendices and definitions page and at https://www.energyinst.org/statistical-review.', '^ Less than 0.005.', 'â\x99¦ Less than 0.05%.', 'n/a not available.', 'USSR includes CIS, Georgia, Ukraine and the Baltic states.', '#Excludes Estonia, Latvia and Lithuania prior to 1985 and Croatia and Slovenia prior to 1990.', 'Annual changes and share of total are calculated using exajoules figures and incorporate adjustments for assumed changes in thermal efficiency.']

In [277]:
df_new = df.drop(index_with_nulls)
df_new.head()

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,-,-,-,-,-,-,-,-,-,-,...,0.30,0.30,0.32,0.31,0.34,0.33,0.35,7.6%,12.2%,1.8%
Mexico,-,-,-,-,-,-,-,-,-,-,...,0.10,0.10,0.12,0.16,0.19,0.20,0.19,-3.9%,18.0%,1.0%
US,-,-,-,-,-,-,-,-,-,-,...,2.21,2.46,2.62,2.84,3.23,3.60,4.12,14.6%,11.4%,20.9%
Total North America,-,-,-,-,-,-,-,-,-,-,...,2.61,2.86,3.06,3.31,3.75,4.12,4.67,13.1%,11.6%,23.6%
Argentina,-,-,-,-,-,-,-,-,-,-,...,0.01,0.01,0.01,0.05,0.09,0.12,0.13,9.1%,43.3%,0.7%

In [278]:
df_new.dtypes

1965                          object
1966                          object
1967                          object
1968                          object
1969                          object
                               ...
2021                          object
2022                          object
Growth rate 2022-2021 in %    object
Growth rate 2022-2012 in %    object
Share 2022 in %               object
Length: 61, dtype: object

In [279]:
columns_to_convert = df_new.columns[:-3]
for column in columns_to_convert:
    df_new[column] = pd.to_numeric(df_new[column], errors='coerce')
    
df_new.dtypes

1965                          float64
1966                          float64
1967                          float64
1968                          float64
1969                          float64
                               ...
2021                          float64
2022                          float64
Growth rate 2022-2021 in %     object
Growth rate 2022-2012 in %     object
Share 2022 in %                object
Length: 61, dtype: object

In [280]:
# Function to convert percentage strings to float and handle non-numeric values
def convert_percent_to_float(df_new_column):
    # Replace '%' and handle non-numeric entries
    return pd.to_numeric(df_new_column.str.replace('%', '').replace('-', np.nan), errors='coerce')

# Applying the conversion function to the last three columns
df_new['Growth rate 2022-2021 in %'] = convert_percent_to_float(df_new['Growth rate 2022-2021 in %'])
df_new['Growth rate 2022-2012 in %'] = convert_percent_to_float(df_new['Growth rate 2022-2012 in %'])
df_new['Share 2022 in %'] = convert_percent_to_float(df_new['Share 2022 in %'])

# Output the updated Data type in the dataframe
df_new.dtypes

1965                          float64
1966                          float64
1967                          float64
1968                          float64
1969                          float64
                               ...
2021                          float64
2022                          float64
Growth rate 2022-2021 in %    float64
Growth rate 2022-2012 in %    float64
Share 2022 in %               float64
Length: 61, dtype: object

In [281]:
# Dropping rows where any cell has NaN
df_new.fillna(0, inplace=True)

# Output the updated DataFrame
df_new.head(30)

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.30,0.30,0.32,0.31,0.34,0.33,0.35,7.6,12.2,1.8
Mexico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.10,0.10,0.12,0.16,0.19,0.20,0.19,-3.9,18.0,1.0
US,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.21,2.46,2.62,2.84,3.23,3.60,4.12,14.6,11.4,20.9
Total North America,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.61,2.86,3.06,3.31,3.75,4.12,4.67,13.1,11.6,23.6
Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.01,0.01,0.01,0.05,0.09,0.12,0.13,9.1,43.3,0.7
Brazil,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.32,0.41,0.46,0.53,0.54,0.68,0.77,12.5,31.4,3.9
Chile,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.02,0.03,0.03,0.05,0.05,0.07,0.09,22.3,36.1,0.4
Colombia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,23.4,2.6,0.0
Ecuador,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-2.6,37.4,0.0
Peru,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.01,0.01,0.01,0.02,0.02,0.02,0.02,5.6,108.2,0.1
Trinidad & Tobago,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-0.4,0.0,0.0
Venezuela,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-0.4,0.0,0.0
Central America,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.03,0.03,0.04,0.04,0.03,0.04,0.03,-8.9,11.9,0.2
Other Caribbean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.01,0.01,0.01,0.02,0.02,0.02,0.02,-3.5,14.8,0.1
Other South America,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.03,0.04,0.05,0.05,0.05,0.05,0.05,1.8,45.2,0.2
Total S. & Cent. America,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.44,0.54,0.63,0.75,0.81,1.00,1.11,11.0,30.8,5.6
Austria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.05,0.06,0.06,0.07,0.06,0.06,0.07,7.1,10.8,0.3
Belgium,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.05,0.06,0.07,0.09,0.12,0.11,0.11,-1.1,15.2,0.6
Bulgaria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,4.1,1.6,0.1
Croatia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.01,0.01,0.01,0.01,0.02,0.02,0.02,11.1,20.9,0.1
Cyprus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-9.3,1.4,0.0
Czech Republic,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.01,0.01,0.01,0.01,0.01,0.01,6.2,3.9,0.0
Denmark,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.12,0.14,0.13,0.15,0.15,0.15,0.18,17.9,5.8,0.9
Estonia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,-10.1,3.8,0.0
Finland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.03,0.05,0.06,0.06,0.08,0.08,0.11,45.0,36.8,0.6
France,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.21,0.24,0.27,0.33,0.38,0.35,0.36,3.0,9.1,1.8
Germany,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.77,1.01,1.05,1.19,1.25,1.08,1.18,8.9,8.7,6.0
Greece,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.05,0.05,0.06,0.07,0.09,0.10,0.10,3.4,10.4,0.5
Hungary,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,-9.3,-2.9,0.0
Iceland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-6.2,0.0,0.0

In [282]:
df.count()

1965                          103
1966                          103
1967                          103
1968                          103
1969                          103
                             ...
2021                          103
2022                          103
Growth rate 2022-2021 in %    103
Growth rate 2022-2012 in %    103
Share 2022 in %               103
Length: 61, dtype: int64

In [283]:
# Create the output file (CSV)

output_data_file = "../World_energy_consumption/Clean_data_files/Wind_consumption_Exajoules.csv"


# Export the DataFrame to a CSV file
df_new.to_csv(output_data_file, index="Country")

In [284]:
# Transforming the data to store in postgres databse
file_path ='../World_energy_consumption/Clean_data_files/Wind_consumption_Exajoules.csv'
df_new= pd.read_csv(file_path, skiprows=0, encoding='unicode_escape')
df_new.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
0,Canada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.30,0.30,0.32,0.31,0.34,0.33,0.35,7.6,12.2,1.8
1,Mexico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.10,0.10,0.12,0.16,0.19,0.20,0.19,-3.9,18.0,1.0
2,US,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.21,2.46,2.62,2.84,3.23,3.60,4.12,14.6,11.4,20.9
3,Total North America,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.61,2.86,3.06,3.31,3.75,4.12,4.67,13.1,11.6,23.6
4,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.01,0.01,0.01,0.05,0.09,0.12,0.13,9.1,43.3,0.7

In [285]:
# dropping the last three rows as these are not important for the analysis
columns_to_drop = df.columns[-3:]
df_new = df_new.drop(columns=columns_to_drop, axis=1)
df_new.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Canada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.11,0.13,0.26,0.30,0.30,0.32,0.31,0.34,0.33,0.35
1,Mexico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.04,0.06,0.08,0.10,0.10,0.12,0.16,0.19,0.20,0.19
2,US,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.66,1.79,1.87,2.21,2.46,2.62,2.84,3.23,3.60,4.12
3,Total North America,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.81,1.98,2.21,2.61,2.86,3.06,3.31,3.75,4.12,4.67
4,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.01,0.01,0.01,0.01,0.01,0.05,0.09,0.12,0.13

In [286]:
df_new = df_new.melt(id_vars=['Country'], var_name='year', value_name='energy_consumption')

In [287]:
# Create the output file (CSV)

output_data_file = "../World_energy_consumption/Transformed_data_files/Wind_consumption_Exajoules.csv"


# Export the DataFrame to a CSV file
df_new.to_csv(output_data_file, index="Country")