In [34]:
# imports library 

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

In [35]:
file_path ='../World_energy_consumption/Raw_data_files/Energy_consumption_by_fuel.csv'
df_1= pd.read_csv(file_path, skiprows=2, encoding='unicode_escape')
df_1.head()

,Exajoules,Oil,Natural Gas,Coal,Nuclear energy,Hydro electric,Renew- ables,Total,Oil.1,Natural Gas.1,Coal.1,Nuclear energy.1,Hydro electric.1,Renew- ables.1,Total.1,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,4.11,4.21,0.50,0.83,3.61,0.58,13.84,4.27,4.38,0.39,0.78,3.74,0.59,14.14,NaN,NaN,NaN,NaN
2,Mexico,3.39,3.50,0.20,0.11,0.33,0.46,7.99,4.12,3.48,0.25,0.10,0.34,0.45,8.73,NaN,NaN,NaN,NaN
3,US,35.51,30.09,10.57,7.42,2.35,7.47,93.40,36.15,31.72,9.87,7.31,2.43,8.43,95.91,NaN,NaN,NaN,NaN
4,Total North America,43.02,37.80,11.27,8.36,6.28,8.50,115.23,44.53,39.58,10.51,8.19,6.50,9.46,118.78,NaN,NaN,NaN,NaN

In [36]:
rename_dict = {'Exajoules':'Country','Oil':'Oil 2021','Natural Gas':'Natural Gas 2021', 'Coal':'Coal 2021',
              'Nuclear energy': 'Nuclear energy 2021', 'Hydro electric': 'Hydro electric 2021', 'Renew- ables':'Renew- ables 2021', 'Total':'Total 2021',
             'Oil.1':'Oil 2022','Natural Gas.1':'Natural Gas 2022', 'Coal.1':'Coal 2022',
              'Nuclear energy.1': 'Nuclear energy 2022', 'Hydro electric.1': 'Hydro electric 2022', 'Renew- ables.1':'Renew- ables 2022', 'Total.1':'Total 2022' }

In [37]:
df_1.rename(columns=rename_dict, inplace=True)
df = df_1.rename(columns=rename_dict)
df.head()

,Country,Oil 2021,Natural Gas 2021,Coal 2021,Nuclear energy 2021,Hydro electric 2021,Renew- ables 2021,Total 2021,Oil 2022,Natural Gas 2022,Coal 2022,Nuclear energy 2022,Hydro electric 2022,Renew- ables 2022,Total 2022,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,4.11,4.21,0.50,0.83,3.61,0.58,13.84,4.27,4.38,0.39,0.78,3.74,0.59,14.14,NaN,NaN,NaN,NaN
2,Mexico,3.39,3.50,0.20,0.11,0.33,0.46,7.99,4.12,3.48,0.25,0.10,0.34,0.45,8.73,NaN,NaN,NaN,NaN
3,US,35.51,30.09,10.57,7.42,2.35,7.47,93.40,36.15,31.72,9.87,7.31,2.43,8.43,95.91,NaN,NaN,NaN,NaN
4,Total North America,43.02,37.80,11.27,8.36,6.28,8.50,115.23,44.53,39.58,10.51,8.19,6.50,9.46,118.78,NaN,NaN,NaN,NaN

In [38]:
df=df.drop([0,0])

In [39]:
df.drop(["Unnamed: 15","Unnamed: 16", "Unnamed: 17", "Unnamed: 18"], axis=1, inplace=True)
df.head(10)

,Country,Oil 2021,Natural Gas 2021,Coal 2021,Nuclear energy 2021,Hydro electric 2021,Renew- ables 2021,Total 2021,Oil 2022,Natural Gas 2022,Coal 2022,Nuclear energy 2022,Hydro electric 2022,Renew- ables 2022,Total 2022
1,Canada,4.11,4.21,0.50,0.83,3.61,0.58,13.84,4.27,4.38,0.39,0.78,3.74,0.59,14.14
2,Mexico,3.39,3.50,0.20,0.11,0.33,0.46,7.99,4.12,3.48,0.25,0.10,0.34,0.45,8.73
3,US,35.51,30.09,10.57,7.42,2.35,7.47,93.40,36.15,31.72,9.87,7.31,2.43,8.43,95.91
4,Total North America,43.02,37.80,11.27,8.36,6.28,8.50,115.23,44.53,39.58,10.51,8.19,6.50,9.46,118.78
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Argentina,1.29,1.65,0.05,0.09,0.19,0.21,3.48,1.38,1.64,0.05,0.07,0.22,0.24,3.60
7,Brazil,4.78,1.46,0.71,0.13,3.42,2.36,12.85,5.01,1.15,0.59,0.13,4.01,2.53,13.41
8,Chile,0.76,0.25,0.29,0.00,0.17,0.25,1.72,0.80,0.27,0.22,0.00,0.21,0.29,1.79
9,Colombia,0.86,0.45,0.11,0.00,0.57,0.07,2.07,0.96,0.45,0.10,0.00,0.60,0.07,2.19
10,Ecuador,0.49,0.02,0.00,0.00,0.24,0.01,0.76,0.53,0.02,0.00,0.00,0.23,0.01,0.79

In [40]:
df.shape

(99, 15)

In [41]:
df.count()

Country                86
Oil 2021               83
Natural Gas 2021       83
Coal 2021              83
Nuclear energy 2021    83
Hydro electric 2021    83
Renew- ables 2021      83
Total 2021             83
Oil 2022               83
Natural Gas 2022       83
Coal 2022              83
Nuclear energy 2022    83
Hydro electric 2022    83
Renew- ables 2022      83
Total 2022             83
dtype: int64

In [42]:
df.isnull().sum()

Country                13
Oil 2021               16
Natural Gas 2021       16
Coal 2021              16
Nuclear energy 2021    16
Hydro electric 2021    16
Renew- ables 2021      16
Total 2021             16
Oil 2022               16
Natural Gas 2022       16
Coal 2022              16
Nuclear energy 2022    16
Hydro electric 2022    16
Renew- ables 2022      16
Total 2022             16
dtype: int64

In [43]:
df.set_index('Country', inplace=True)
df.head()

,Oil 2021,Natural Gas 2021,Coal 2021,Nuclear energy 2021,Hydro electric 2021,Renew- ables 2021,Total 2021,Oil 2022,Natural Gas 2022,Coal 2022,Nuclear energy 2022,Hydro electric 2022,Renew- ables 2022,Total 2022
Country,,,,,,,,,,,,,,
Canada,4.11,4.21,0.50,0.83,3.61,0.58,13.84,4.27,4.38,0.39,0.78,3.74,0.59,14.14
Mexico,3.39,3.50,0.20,0.11,0.33,0.46,7.99,4.12,3.48,0.25,0.10,0.34,0.45,8.73
US,35.51,30.09,10.57,7.42,2.35,7.47,93.40,36.15,31.72,9.87,7.31,2.43,8.43,95.91
Total North America,43.02,37.80,11.27,8.36,6.28,8.50,115.23,44.53,39.58,10.51,8.19,6.50,9.46,118.78
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
null_rows= df.isna().any(axis=1)

In [45]:
index_with_nulls = df.index[null_rows].tolist()

print(index_with_nulls)

[nan, nan, nan, nan, nan, nan, nan, nan, '* In this review, primary energy comprises commercially-traded fuels, including modern renewables used to generate electricity. ', 'Energy from all sources of non-fossil power generation is accounted for on an input-equivalent basis. See the appendix or https://www.energyinst.org/statistical-review for more details on this methodology.', '^ Less than 0.005.', nan, nan, nan, nan, nan]

In [50]:
df_new = df.drop(index_with_nulls)
df_new.head(30)

,Oil 2021,Natural Gas 2021,Coal 2021,Nuclear energy 2021,Hydro electric 2021,Renew- ables 2021,Total 2021,Oil 2022,Natural Gas 2022,Coal 2022,Nuclear energy 2022,Hydro electric 2022,Renew- ables 2022,Total 2022
Country,,,,,,,,,,,,,,
Canada,4.11,4.21,0.50,0.83,3.61,0.58,13.84,4.27,4.38,0.39,0.78,3.74,0.59,14.14
Mexico,3.39,3.50,0.20,0.11,0.33,0.46,7.99,4.12,3.48,0.25,0.10,0.34,0.45,8.73
US,35.51,30.09,10.57,7.42,2.35,7.47,93.40,36.15,31.72,9.87,7.31,2.43,8.43,95.91
Total North America,43.02,37.80,11.27,8.36,6.28,8.50,115.23,44.53,39.58,10.51,8.19,6.50,9.46,118.78
Argentina,1.29,1.65,0.05,0.09,0.19,0.21,3.48,1.38,1.64,0.05,0.07,0.22,0.24,3.60
Brazil,4.78,1.46,0.71,0.13,3.42,2.36,12.85,5.01,1.15,0.59,0.13,4.01,2.53,13.41
Chile,0.76,0.25,0.29,0.00,0.17,0.25,1.72,0.80,0.27,0.22,0.00,0.21,0.29,1.79
Colombia,0.86,0.45,0.11,0.00,0.57,0.07,2.07,0.96,0.45,0.10,0.00,0.60,0.07,2.19
Ecuador,0.49,0.02,0.00,0.00,0.24,0.01,0.76,0.53,0.02,0.00,0.00,0.23,0.01,0.79
Peru,0.48,0.29,0.02,0.00,0.30,0.05,1.14,0.50,0.35,0.03,0.00,0.28,0.05,1.21
Trinidad & Tobago,0.05,0.56,0.00,0.00,0.00,0.00,0.61,0.05,0.54,0.00,0.00,0.00,0.00,0.59
Venezuela,0.45,1.01,0.00,0.00,0.64,0.00,2.10,0.53,1.05,0.00,0.00,0.63,0.00,2.21
Other S. & Cent. America,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Total S. & Cent. America,11.67,6.04,1.41,0.22,6.30,3.28,28.93,12.37,5.82,1.19,0.20,7.00,3.53,30.11
Austria,0.50,0.32,0.11,0.00,0.37,0.16,1.45,0.48,0.28,0.10,0.00,0.33,0.17,1.37
Belgium,1.23,0.61,0.11,0.45,0.00,0.25,2.66,1.16,0.52,0.12,0.39,0.00,0.26,2.45
Czech Republic,0.41,0.33,0.54,0.28,0.02,0.10,1.68,0.41,0.27,0.59,0.28,0.02,0.10,1.67
Finland,0.33,0.07,0.12,0.21,0.15,0.26,1.15,0.33,0.04,0.12,0.23,0.13,0.32,1.18
France,2.92,1.55,0.23,3.43,0.55,0.72,9.40,2.91,1.38,0.21,2.65,0.42,0.81,8.39
Germany,4.18,3.30,2.24,0.62,0.19,2.25,12.78,4.26,2.78,2.33,0.31,0.16,2.45,12.30
Greece,0.55,0.25,0.07,0.00,0.06,0.16,1.09,0.62,0.22,0.07,0.00,0.04,0.18,1.14
Hungary,0.35,0.39,0.06,0.14,0.00,0.08,1.02,0.35,0.33,0.05,0.14,0.00,0.09,0.96
Italy,2.35,2.61,0.23,0.00,0.43,0.72,6.34,2.47,2.35,0.31,0.00,0.26,0.76,6.14
Netherlands,1.69,1.26,0.23,0.03,0.00,0.44,3.65,1.78,0.98,0.23,0.04,0.00,0.51,3.54
Norway,0.38,0.15,0.04,0.00,1.35,0.13,2.05,0.36,0.14,0.03,0.00,1.20,0.16,1.90
Poland,1.35,0.81,1.90,0.00,0.02,0.33,4.41,1.46,0.65,1.81,0.00,0.02,0.39,4.31
Portugal,0.42,0.21,0.01,0.00,0.11,0.21,0.96,0.46,0.20,0.00,0.00,0.06,0.21,0.93
Romania,0.44,0.42,0.17,0.10,0.16,0.10,1.39,0.45,0.35,0.17,0.10,0.13,0.11,1.30
Spain,2.42,1.24,0.13,0.51,0.28,0.98,5.55,2.66,1.19,0.17,0.53,0.17,1.04,5.76
Sweden,0.50,0.04,0.07,0.48,0.70,0.49,2.27,0.50,0.03,0.07,0.46,0.65,0.56,2.28

In [47]:
df_new.isnull().sum()

Oil 2021               0
Natural Gas 2021       0
Coal 2021              0
Nuclear energy 2021    0
Hydro electric 2021    0
Renew- ables 2021      0
Total 2021             0
Oil 2022               0
Natural Gas 2022       0
Coal 2022              0
Nuclear energy 2022    0
Hydro electric 2022    0
Renew- ables 2022      0
Total 2022             0
dtype: int64

In [48]:
df_new.dtypes

Oil 2021               float64
Natural Gas 2021       float64
Coal 2021              float64
Nuclear energy 2021    float64
Hydro electric 2021    float64
Renew- ables 2021      float64
Total 2021             float64
Oil 2022               float64
Natural Gas 2022       float64
Coal 2022              float64
Nuclear energy 2022    float64
Hydro electric 2022    float64
Renew- ables 2022      float64
Total 2022             float64
dtype: object

In [51]:
# Create the output file (CSV)

output_data_file = "../World_energy_consumption/Clean_data_files/Energy_cons_by_fuel.csv"


# Export the DataFrame to a CSV file
df_new.to_csv(output_data_file, index="Country")