In [1]:
# imports library 

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

In [2]:
file_path ='../World_energy_consumption/Raw_data_files/Primary_energy_consumption.csv'
df_1= pd.read_csv(file_path, skiprows=2, encoding='unicode_escape')
df_1.head()

,Exajoules,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,2022.1,2012-22,2022.2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,5.00,5.32,5.57,5.92,6.28,6.73,6.94,7.47,8.11,...,14.32,14.54,14.67,14.59,13.71,13.84,14.14,2.2%,0.1%,2.3%
2,Mexico,1.06,1.12,1.14,1.24,1.36,1.45,1.53,1.69,1.82,...,8.11,8.26,8.16,8.06,7.43,7.99,8.73,9.2%,0.8%,1.4%
3,US,51.98,54.89,56.80,60.19,63.30,65.54,66.92,70.25,73.22,...,92.60,92.95,96.35,95.67,88.57,93.40,95.91,2.7%,0.6%,15.9%
4,Total North America,58.04,61.33,63.51,67.36,70.95,73.72,75.39,79.41,83.16,...,115.04,115.76,119.18,118.32,109.71,115.23,118.78,3.1%,0.6%,19.7%

In [3]:
rename_dict = {'Exajoules':'Country','2022.1':'Growth rate 2022-2021 in %','2012-22':'Growth rate 2022-2012 in %', '2022.2':'Share 2022 in %' }

In [4]:
df_1.rename(columns=rename_dict, inplace=True)
df = df_1.rename(columns=rename_dict)
df.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,5.00,5.32,5.57,5.92,6.28,6.73,6.94,7.47,8.11,...,14.32,14.54,14.67,14.59,13.71,13.84,14.14,2.2%,0.1%,2.3%
2,Mexico,1.06,1.12,1.14,1.24,1.36,1.45,1.53,1.69,1.82,...,8.11,8.26,8.16,8.06,7.43,7.99,8.73,9.2%,0.8%,1.4%
3,US,51.98,54.89,56.80,60.19,63.30,65.54,66.92,70.25,73.22,...,92.60,92.95,96.35,95.67,88.57,93.40,95.91,2.7%,0.6%,15.9%
4,Total North America,58.04,61.33,63.51,67.36,70.95,73.72,75.39,79.41,83.16,...,115.04,115.76,119.18,118.32,109.71,115.23,118.78,3.1%,0.6%,19.7%

In [5]:
df=df.drop([0,0])

In [6]:
df.shape

(126, 62)

In [7]:
df.count()

Country                       110
1965                          103
1966                          103
1967                          103
1968                          103
                             ...
2021                          103
2022                          103
Growth rate 2022-2021 in %    103
Growth rate 2022-2012 in %    103
Share 2022 in %               103
Length: 62, dtype: int64

In [8]:
df.isnull().sum()

Country                       16
1965                          23
1966                          23
1967                          23
1968                          23
                              ..
2021                          23
2022                          23
Growth rate 2022-2021 in %    23
Growth rate 2022-2012 in %    23
Share 2022 in %               23
Length: 62, dtype: int64

In [9]:
df.set_index('Country', inplace=True)

In [10]:
df.head()

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,5.00,5.32,5.57,5.92,6.28,6.73,6.94,7.47,8.11,8.36,...,14.32,14.54,14.67,14.59,13.71,13.84,14.14,2.2%,0.1%,2.3%
Mexico,1.06,1.12,1.14,1.24,1.36,1.45,1.53,1.69,1.82,2.01,...,8.11,8.26,8.16,8.06,7.43,7.99,8.73,9.2%,0.8%,1.4%
US,51.98,54.89,56.80,60.19,63.30,65.54,66.92,70.25,73.22,71.43,...,92.60,92.95,96.35,95.67,88.57,93.40,95.91,2.7%,0.6%,15.9%
Total North America,58.04,61.33,63.51,67.36,70.95,73.72,75.39,79.41,83.16,81.81,...,115.04,115.76,119.18,118.32,109.71,115.23,118.78,3.1%,0.6%,19.7%
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
null_rows= df.isna().any(axis=1)

In [12]:
index_with_nulls = df.index[null_rows].tolist()

print(index_with_nulls)

[nan, nan, nan, nan, nan, nan, nan, nan, '* In this review, primary energy comprises commercially-traded fuels, including modern renewables used to generate electricity. ', 'Energy from all sources of non-fossil power generation is accounted for on an input-equivalent basis. See the appendix or https://www.energyinst.org/statistical-review for more details on this methodology.', '^ Less than 0.005.', 'w Less than 0.05%.', 'n/a not available.', 'USSR includes CIS, Georgia, Ukraine and the Baltic States.', '#Excludes Estonia, Latvia and Lithuania prior to 1985 and Slovenia prior to 1990.', nan, nan, nan, nan, nan, nan, nan, nan]

In [13]:
df_new = df.drop(index_with_nulls)
df_new.head()

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,5.00,5.32,5.57,5.92,6.28,6.73,6.94,7.47,8.11,8.36,...,14.32,14.54,14.67,14.59,13.71,13.84,14.14,2.2%,0.1%,2.3%
Mexico,1.06,1.12,1.14,1.24,1.36,1.45,1.53,1.69,1.82,2.01,...,8.11,8.26,8.16,8.06,7.43,7.99,8.73,9.2%,0.8%,1.4%
US,51.98,54.89,56.80,60.19,63.30,65.54,66.92,70.25,73.22,71.43,...,92.60,92.95,96.35,95.67,88.57,93.40,95.91,2.7%,0.6%,15.9%
Total North America,58.04,61.33,63.51,67.36,70.95,73.72,75.39,79.41,83.16,81.81,...,115.04,115.76,119.18,118.32,109.71,115.23,118.78,3.1%,0.6%,19.7%
Argentina,1.18,1.22,1.26,1.30,1.34,1.27,1.35,1.37,1.43,1.48,...,3.57,3.57,3.54,3.34,3.13,3.48,3.60,3.7%,0.6%,0.6%

In [14]:
df_new.isnull().sum()

1965                          0
1966                          0
1967                          0
1968                          0
1969                          0
                             ..
2021                          0
2022                          0
Growth rate 2022-2021 in %    0
Growth rate 2022-2012 in %    0
Share 2022 in %               0
Length: 61, dtype: int64

In [15]:
df_new.dtypes

1965                          object
1966                          object
1967                          object
1968                          object
1969                          object
                               ...
2021                          object
2022                          object
Growth rate 2022-2021 in %    object
Growth rate 2022-2012 in %    object
Share 2022 in %               object
Length: 61, dtype: object

In [16]:
columns_to_convert = df_new.columns[:-3]

In [17]:
for column in columns_to_convert:
    df_new[column] = pd.to_numeric(df_new[column], errors='coerce')
    
df_new.dtypes

1965                          float64
1966                          float64
1967                          float64
1968                          float64
1969                          float64
                               ...
2021                          float64
2022                          float64
Growth rate 2022-2021 in %     object
Growth rate 2022-2012 in %     object
Share 2022 in %                object
Length: 61, dtype: object

In [18]:
# Get full rows based on the index of top values in 'Growth rate 2022-2021'
top_five_2022 = df_new['2022'].nlargest(5)

print(top_five_2022)

Country
Total World                  604.04
                 Non-OECD    369.62
Total Asia Pacific           277.60
of which: OECD               234.42
China                        159.39
Name: 2022, dtype: float64

In [19]:
# Function to convert percentage strings to float and handle non-numeric values
def convert_percent_to_float(df_new_column):
    # Replace '%' and handle non-numeric entries
    return pd.to_numeric(df_new_column.str.replace('%', '').replace('-', np.nan), errors='coerce')

# Applying the conversion function to the last three columns
df_new['Growth rate 2022-2021 in %'] = convert_percent_to_float(df_new['Growth rate 2022-2021 in %'])
df_new['Growth rate 2022-2012 in %'] = convert_percent_to_float(df_new['Growth rate 2022-2012 in %'])
df_new['Share 2022 in %'] = convert_percent_to_float(df_new['Share 2022 in %'])

# Output the updated Data type in the dataframe
df_new.dtypes

1965                          float64
1966                          float64
1967                          float64
1968                          float64
1969                          float64
                               ...
2021                          float64
2022                          float64
Growth rate 2022-2021 in %    float64
Growth rate 2022-2012 in %    float64
Share 2022 in %               float64
Length: 61, dtype: object

In [20]:
# Dropping rows where any cell has NaN
df_new.dropna(inplace=True)

# Output the updated DataFrame
df_new.head(30)

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,5.00,5.32,5.57,5.92,6.28,6.73,6.94,7.47,8.11,8.36,...,14.32,14.54,14.67,14.59,13.71,13.84,14.14,2.2,0.1,2.3
Mexico,1.06,1.12,1.14,1.24,1.36,1.45,1.53,1.69,1.82,2.01,...,8.11,8.26,8.16,8.06,7.43,7.99,8.73,9.2,0.8,1.4
US,51.98,54.89,56.80,60.19,63.30,65.54,66.92,70.25,73.22,71.43,...,92.60,92.95,96.35,95.67,88.57,93.40,95.91,2.7,0.6,15.9
Total North America,58.04,61.33,63.51,67.36,70.95,73.72,75.39,79.41,83.16,81.81,...,115.04,115.76,119.18,118.32,109.71,115.23,118.78,3.1,0.6,19.7
Argentina,1.18,1.22,1.26,1.30,1.34,1.27,1.35,1.37,1.43,1.48,...,3.57,3.57,3.54,3.34,3.13,3.48,3.60,3.7,0.6,0.6
Brazil,0.99,1.08,1.11,1.27,1.39,1.63,1.82,2.08,2.45,2.73,...,12.36,12.47,12.51,12.72,12.22,12.85,13.41,4.3,0.9,2.2
Chile,0.26,0.28,0.29,0.28,0.31,0.32,0.35,0.36,0.34,0.35,...,1.56,1.62,1.69,1.71,1.59,1.72,1.79,4.2,2.1,0.3
Colombia,0.35,0.40,0.42,0.43,0.44,0.48,0.48,0.55,0.53,0.59,...,1.96,1.98,2.01,2.03,1.85,2.07,2.19,6.1,2.6,0.4
Ecuador,0.03,0.03,0.04,0.04,0.04,0.05,0.06,0.06,0.07,0.08,...,0.67,0.70,0.74,0.76,0.66,0.76,0.79,3.1,2.3,0.1
Peru,0.20,0.24,0.25,0.25,0.25,0.26,0.27,0.24,0.28,0.32,...,1.08,1.09,1.15,1.18,1.00,1.14,1.21,5.5,2.7,0.2
Trinidad & Tobago,0.12,0.13,0.14,0.14,0.15,0.16,0.16,0.22,0.22,0.21,...,0.71,0.75,0.71,0.68,0.59,0.61,0.59,-3.1,-3.1,0.1
Venezuela,0.69,0.70,0.73,0.79,0.80,0.81,0.82,0.87,0.99,1.03,...,3.04,3.06,2.59,2.21,1.82,2.10,2.21,5.2,-4.9,0.4
Central America,0.16,0.16,0.17,0.18,0.19,0.20,0.20,0.22,0.24,0.25,...,1.33,1.38,1.40,1.47,1.34,1.51,1.57,4.0,3.6,0.3
Other Caribbean,0.79,0.82,0.85,0.87,0.89,1.02,1.06,1.13,1.25,1.24,...,1.61,1.55,1.59,1.63,1.49,1.50,1.52,1.3,-0.2,0.3
Other South America,0.15,0.16,0.16,0.17,0.18,0.19,0.20,0.21,0.21,0.21,...,1.35,1.34,1.36,1.29,1.12,1.19,1.23,3.0,0.2,0.2
Total S. & Cent. America,4.92,5.21,5.41,5.73,5.98,6.40,6.77,7.30,8.01,8.49,...,29.24,29.52,29.29,29.01,26.81,28.93,30.11,4.1,0.5,5.0
Austria,0.68,0.71,0.72,0.77,0.80,0.91,0.91,0.94,1.01,1.02,...,1.47,1.50,1.47,1.54,1.44,1.45,1.37,-5.5,-0.8,0.2
Belgium,1.49,1.43,1.50,1.68,1.84,1.94,1.91,2.03,2.05,1.98,...,2.55,2.58,2.57,2.66,2.39,2.66,2.45,-7.8,-0.1,0.4
Bulgaria,0.43,0.46,0.54,0.60,0.67,0.75,0.78,0.81,0.84,0.86,...,0.77,0.79,0.79,0.76,0.70,0.80,0.83,4.5,0.8,0.1
Czech Republic,1.69,1.70,1.67,1.75,1.82,1.90,1.99,2.00,2.02,2.04,...,1.67,1.77,1.76,1.72,1.59,1.68,1.67,-0.5,-0.7,0.3
Denmark,0.60,0.68,0.68,0.72,0.82,0.87,0.83,0.87,0.84,0.77,...,0.71,0.72,0.71,0.69,0.62,0.68,0.68,0.6,-0.5,0.1
Finland,0.42,0.47,0.50,0.54,0.59,0.65,0.67,0.71,0.78,0.75,...,1.20,1.18,1.20,1.18,1.13,1.15,1.18,2.2,-0.4,0.2
France,4.71,4.83,5.14,5.42,5.98,6.49,6.75,7.21,7.83,7.69,...,9.92,9.84,10.03,9.81,8.84,9.40,8.39,-10.8,-2.1,1.4
Germany,10.69,10.72,10.69,11.41,12.31,13.00,13.12,13.57,14.35,14.10,...,13.83,14.01,13.66,13.31,12.41,12.78,12.30,-3.8,-1.0,2.0
Greece,0.28,0.31,0.34,0.36,0.38,0.42,0.50,0.56,0.64,0.63,...,1.11,1.16,1.17,1.14,1.00,1.09,1.14,4.4,-1.0,0.2
Hungary,0.67,0.67,0.64,0.67,0.72,0.77,0.80,0.82,0.89,0.92,...,0.92,0.97,0.98,0.99,0.97,1.02,0.96,-6.4,0.6,0.2
Ireland,0.24,0.27,0.30,0.34,0.35,0.27,0.28,0.30,0.31,0.32,...,0.65,0.66,0.67,0.67,0.63,0.65,0.68,5.7,1.3,0.1
Italy,3.34,3.63,3.93,4.25,4.57,5.05,5.31,5.57,5.82,5.82,...,6.56,6.64,6.67,6.55,5.95,6.34,6.14,-3.1,-1.3,1.0
Netherlands,1.49,1.60,1.69,1.89,2.11,2.38,2.50,2.91,3.09,2.94,...,3.76,3.78,3.69,3.68,3.56,3.65,3.54,-3.1,-1.1,0.6
Norway,0.78,0.79,0.85,0.95,0.96,1.00,1.05,1.12,1.18,1.19,...,2.00,2.01,1.98,1.86,2.01,2.05,1.90,-7.4,-0.6,0.3

In [22]:
# Create the output file (CSV)

output_data_file = "../World_energy_consumption/Clean_data_files/Energy_data.csv"


# Export the DataFrame to a CSV file
df_new.to_csv(output_data_file, index="Country")